:root {
  --background: #343a40;
  --text-color: #f8f9fa;
  --accent-color: #495057;
  --accent-color2: #adb5bd;
  --accent-color3: #6c757d;

  --font: sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  color: var(--text-color);
  font-family: var(--font);
}
body {
  background-color: var(--background);
}

h1 {
  display: flex;
  justify-content: center;

  margin-top: 8%;
  margin-bottom: 100px;

  font-size: 400%;
  font-weight: 800;
}
.welcome-text {
  display: flex;
  margin-left: 70px;

  font-size: 300%;
  font-weight: 400;
}
.final-project {
  position: relative;
  margin-top: 1%;
  text-align: center;
  color: var(--accent-color2);
  font-size: 200%;
  font-weight: 400;
}

.nameUpdate {
  position: relative;
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
.input-name {
  position: relative;
  font-size: 300%;
  margin-left: 7%;
  width: 30%;
  border-radius: 10px;
  border-color: transparent;
  background-color: var(--accent-color);
  color: var(--text-color);
  caret-color: var(--text-color);
}
.submit-name {
  position: absolute;
  font-size: 250%;
  width: max-content;
  padding-left: 2%;
  padding-right: 2%;
  height: 78%;
  margin-left: 2%;
  border-radius: 10px;
  border-color: transparent;
  background-color: var(--accent-color);
  color: var(--text-color);
  caret-color: var(--text-color);
  border-radius: 100px;
}
.submit-name:active {
  background-color: var(--accent-color3);
}

.choose_lang {
  font-size: 30px;
  width: max-content;
  padding: 10px;
  border-radius: 25px;
  background-color: var(--accent-color);

  position: absolute;
  top: 1%;
  left: 7%;
}

.language-button.active {
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 40%;
  background-color: var(--accent-color2);
}

.line {
  width: 90%;
  height: 5px;
  background-color: var(--accent-color2);
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  margin-bottom: 5px;
  border-radius: 10px;
}

.alignment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 0;
}
.horizontal,
.vertical {
  font-size: 300%;
  flex: 1;
  text-align: center;
}
.horizontal.active,
.vertical.active {
  text-decoration: underline;
  text-decoration-color: var(--accent-color3);
}

.square-horizontal {
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 2%;
  width: 80%;
  padding-bottom: 50%;
  border: 3px solid white;
}
.date-horizontal {
  font-size: 500%;

  position: absolute;
  right: 2%;
  top: 35%;
}
.time-horizontal {
  font-size: 900%;

  position: absolute;
  right: 2%;
  top: 47%;
}
.news-horizontal {
  font-size: 300%;

  position: absolute;
  left: 2%;
  top: 2%;
}
.reminder-horizontal {
  font-size: 300%;

  position: absolute;
  left: 2%;
  bottom: 30%;
}
.weather-horizontal {
  font-size: 300%;

  position: absolute;
  right: 2%;
  bottom: 10%;
}

.square-vertical {
  display: none;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 2%;
  width: 50%;
  padding-bottom: 80%;
  border: 3px solid white;
}
.date-vertical {
  font-size: 500%;

  position: absolute;
  right: 4%;
  top: 17%;
}
.time-vertical {
  font-size: 900%;

  position: absolute;
  right: 4%;
  top: 0%;
}
.news-vertical {
  font-size: 300%;

  width: max-content;
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
}
.reminder-vertical {
  font-size: 300%;
  position: absolute;
  top: 28%;
  right: 4%;
}
.weather-vertical {
  font-size: 300%;
  position: absolute;

  top: 55%;
  right: 63%;
  -webkit-transform: rotate(90deg); /* Safari and Chrome */
  -moz-transform: rotate(90deg);   /* Firefox */
  -ms-transform: rotate(90deg);   /* IE 9 */
  -o-transform: rotate(90deg);   /* Opera */
  transform: rotate(90deg);

}

.module-text {
  display: flex;
  justify-content: center;

  margin-top: 1%;
  margin-bottom: 10px;

  font-size: 350%;
  font-weight: 800;
}

.module-reminder {
  position: relative;
  left: 5%;
  width: 80%;
  padding-bottom: 35%;
  border: 3px solid white;
}
.text-module {
  display: flex;
  margin-left: 70px;

  font-size: 300%;
  font-weight: 400;
}

.reminder-text,
.reminder-event,
.reminder-date,
.input-text {
  position: absolute;
  left: 2%;
  top: 1%;

  font-size: 300%;
  font-weight: 400;
}
.reminder-event {
  left: 7%;
  top: 14%;
}
.reminder-date {
  left: 65%;
  top: 14%;
}
.input-date,
.input-text,
.input-time,
.submit,
.deleteReminder {
  position: absolute;
  font-size: 220%;
  width: 30%;
  height: 20%;
  border-radius: 10px;
  border-color: transparent;
  background-color: var(--accent-color);
  color: var(--text-color);
  caret-color: var(--text-color);
}
.input-text {
  left: 7%;
  top: 30%;
  width: 55%;
}
.input-date {
  left: 65%;
  top: 30%;
}
.input-time {
  left: 65%;
  top: 53%;
}
.input-date:focus,
.input-time:focus,
.input-text:focus,
.nameUpdate input:focus {
  outline: 4px solid var(--accent-color2);
}
.submit {
  border-radius: 100px;
  width: max-content + 5%;
  right: 5%;
  bottom: 4%;
}
.submit:active {
  background-color: var(--accent-color3);
}
.deleteReminder {
  border-radius: 100px;
  width: max-content + 5%;
  right: 37%;
  bottom: 4%;
}
.deleteReminder.active {
  background-color: var(--accent-color3);
}
.error-text {
  display: none;
  color: #ef233c;
  position: absolute;
  width: 55%;
  top: 50%;
  left: 7%;
  font-size: 200%;
  font-weight: 400;
}

.module-time,
.module-news,
.module-motto,
.module-weather,
.module-reminder {
  display: flex;
  align-items: center;
}
.text-module,
.reminder-text {
  margin-left: 9%;
}
.switch {
  position: relative;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 0.5%;
  left: 7%;
  width: 60px;
  height: 34px;
}
.module-reminder .switch {
  left: 2%;
  margin-top: 2%;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.time-slide,
.news-slide,
.motto-slide,
.weather-slide,
.reminder-slide,
.fullDay-slide {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;
  background-color: var(--accent-color2);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.time-slide:before,
.news-slide:before,
.motto-slide:before,
.weather-slide:before,
.reminder-slide:before,
.fullDay-slide:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--text-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .time-slide,
input:checked + .news-slide,
input:checked + .motto-slide,
input:checked + .weather-slide,
input:checked + .reminder-slide,
input:checked + .fullDay-slide {
  background-color: var(--accent-color);
}

input:focus + .time-slide,
input:focus + .news-slide,
input:focus + .motto-slide,
input:focus + .weather-slide,
input:focus + .reminder-slide,
input:focus + .fullDay-slide {
  box-shadow: 0 0 1px var(--accent-color);
}

input:checked + .time-slide:before,
input:checked + .news-slide:before,
input:checked + .motto-slide:before,
input:checked + .weather-slide:before,
input:checked + .reminder-slide:before,
input:checked + .fullDay-slide:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#container {
  position: relative;
  left: 5%;
  margin-top: 5%;
  width: 80%;
  border: 3px solid white;
  font-size: 300%;
  font-weight: 200;
  display: none;
}

#container p {
  position: relative;
  padding-left: 1%;
  padding-bottom: 6%;
}

#container button {
  position: absolute;
  font-size: 70%;
  font-weight: 200;
  width: max-content;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 2%;
  margin-top: -6%;

  border-radius: 10px;
  border-color: transparent;
  background-color: var(--accent-color);
  border-radius: 100px;
}

.fullDayText {
  width: max-content;
  position: absolute;
  font-size: 250%;
  font-weight: 200;
  bottom: 32%;
  left: 65.5%;
  display: none;
}
.fullDay .switch {
  position: absolute;
  bottom: 32%;
  left: 52.5%;
}